/* Components */

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #373737;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  height: 30px;
}
.navbar .navbar-logo img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.navbar .navbar-btn {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .navbar-btn .btn {
  padding: 0;
  border: 0;
  margin: 0 30px;
  font-size: 24px;
  color: #ffffff;
  background-color: #373737;
  font-weight: bold;
  font-style: normal;
}

.navbar .navbar-btn .btn:hover {
  cursor: pointer;
  color: #189386;
}

/* Banner */
.banner .haikei {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .haikei .wave {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.banner .haikei .hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  z-index: 20;
}

.banner .haikei .hero-banner .intro-container {
  margin-top: 180px;
  width: 400px;
}

.banner .haikei .hero-banner .intro-container .shortcut {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 300px;
  height: 80px;
  font-size: 60px;
}

.banner .haikei .hero-banner .intro-container .shortcut svg:hover {
  cursor: pointer;
  color: #189386;
}

.banner .haikei .hero-banner .ozfull-container {
  margin-top: 120px;
}

.banner .haikei .hero-banner .ozfull-container img {
  height: 300px;
}
